html, body {
    height: 100%;
    margin: 0;
    background-image: url("../img/travelBackground.jpeg");
    /* background-size: cover;
    background-repeat: no-repeat; */
    background-size: 40vw;
    background-attachment: fixed;
}

.navbar {
    background-color: rgb(78, 51, 11) !important;
}

.article {
    margin: 10vw;
}